<section
  class="max-w-full xl:h-screen bg-primary-dark-violet text-neutral-very-light-gray flex items-center relative lg:p-12 xl:p-0"
>
  <div class="hidden absolute sm:block top-0 right-0 z-10">
    <picture>
      <source
        media="(min-width: 670px)"
        srcset="/assets/bg-pattern-intro-right-desktop.svg"
      />
      <img
        src="/assets/bg-pattern-intro-right-mobile.svg"
        alt="pattern for the background"
      />
    </picture>
  </div>
  <div class="hidden sm:block absolute bottom-0 left-0 z-10 sm:translate-y-36">
    <picture>
      <source
        media="(min-width: 670px)"
        srcset="/assets/bg-pattern-intro-left-desktop.svg"
      />
      <img
        src="/assets/bg-pattern-intro-left-mobile.svg"
        alt="pattern for the background on the left side"
      />
    </picture>
  </div>
  <div
    class="w-full sm:w-[80%] mx-auto flex flex-col-reverse xl:flex-row items-center justify-between sm:space-x-8 relative"
  >
    <div class="w-full lg:w-[50%] py-10 px-6 lg:p-0 animate-fade-in">
      <h1
        class="font-headings text-4xl lg:text-5xl xl:text-7xl mb-8 tracking-wide text-center xl:text-left"
      >
        Humanizing your insurance.
      </h1>
      <p class="mb-8 text-center xl:text-left">
        Get your life insurance coverage easier and faster. We blend our
        expertise and technology to help to find you the plan that's right for
        you. Ensure you and your loved ones are proyected.
      </p>
      <div
        class="w-full flex items-center justify-center xl:justify-start xl:items-start"
      >
        <button
          class="px-6 py-2 border-2 border-white text-neutral-very-light-gray uppercase cursor-pointer transition-colors duration-200 ease-in-out hover:bg-white hover:text-primary-dark-violet w-fit mx-auto sm:mx-0 font-bold"
        >
          View plans
        </button>
      </div>
    </div>
    <div class="w-full lg:w-[50%]">
      <picture
        class="animate-fade-in relative xl:absolute xl:top-0 xl:right-0 xl:translate-y-8"
      >
        <source
          media="(min-width: 670px)"
          srcset="/assets/image-intro-desktop.jpg"
        />
        <img
          class="w-full"
          src="/assets/image-intro-mobile.jpg"
          alt="A happy family of four"
        />
      </picture>
    </div>
  </div>
</section>
