<section
  class="max-w-full sm:h-screen bg-primary-dark-violet text-neutral-very-light-gray flex items-center relative"
>
  <div class="hidden absolute sm:block top-0 right-0 z-10">
    <picture>
      <source
        media="(min-width: 670px)"
        srcset="/assets/bg-pattern-intro-right-desktop.svg"
      />
      <img src="/assets/bg-pattern-intro-right-mobile.svg" />
    </picture>
  </div>
  <div class="hidden sm:block absolute bottom-0 left-0 z-10 sm:translate-y-36">
    <picture>
      <source
        media="(min-width: 670px)"
        srcset="/assets/bg-pattern-intro-left-desktop.svg"
      />
      <img src="/assets/bg-pattern-intro-left-mobile.svg" />
    </picture>
  </div>
  <div
    class="w-full sm:w-[80%] mx-auto flex flex-col-reverse sm:flex-row items-center justify-between sm:space-x-8 relative"
  >
    <div class="w-full sm:w-[50%] py-10 px-6 sm:p-0">
      <h1
        class="font-headings text-4xl sm:text-7xl mb-8 tracking-wide text-center sm:text-left"
      >
        Humanizing your insurance.
      </h1>
      <p class="mb-8 text-center sm:text-left">
        Get your life insurance coverage easier and faster. We blend our
        expertise and technology to help to find you the plan that's right for
        you. Ensure you and your loved ones are proyected.
      </p>
      <div
        class="w-full flex items-center justify-center sm:justify-start sm:items-start"
      >
        <button
          class="px-6 py-2 border-2 border-white text-neutral-very-light-gray uppercase cursor-pointer transition-colors duration-200 ease-in-out hover:bg-white hover:text-primary-dark-violet w-fit mx-auto sm:mx-0 font-bold"
        >
          View plans
        </button>
      </div>
    </div>
    <div class="w-full sm:w-[50%]">
      <picture
        class="relative sm:absolute sm:top-0 sm:right-0 sm:translate-y-8"
      >
        <source
          media="(min-width: 670px)"
          srcset="/assets/image-intro-desktop.jpg"
        />
        <img
          class="w-full"
          src="/assets/image-intro-mobile.jpg"
          alt="Intro image"
        />
      </picture>
    </div>
  </div>
</section>
